NEXT_PUBLIC_SITE_URL=
BUSINESS_EMAIL=napitparmeshwor@gmail.com
EMAIL_FROM=
BRAND_NAME=Nep Coffee

GOOGLE_SHEET_ID=1nc3KkHdULA3cxKi2bBEuaH40yPPRwko0gnKqybvWc5k
GOOGLE_SHEET_TAB_NAME=Customer
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

EMAIL_SERVICE_API_KEY=
FRONTEND_URL=
